<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pay with Stripe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="payment-container">
    <h2>Enter your card info</h2>

    <form (submit)="handlePayment($event)">
      <label for="card-element">Card Details</label>
      <div id="card-element"></div>
      <div id="card-errors" class="error-message"></div>

      <ion-button expand="block" type="submit" [disabled]="isProcessing">
        {{ isProcessing ? 'Processing...' : 'Submit Payment' }}
      </ion-button>
    </form>
  </div>
</ion-content>
