<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pay with Stripe </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Enter your card info</h2>
  <div id="card-element" style="margin-bottom: 16px"></div>

  <ion-button expand="block" (click)="handleDummyPayment()">Submit</ion-button>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pay with Stripe</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Pay with Stripe"></app-explore-container>
</ion-content> -->
